/* Tiles (Days) Style */
.react-calendar__tile {
    border-radius: 50% !important;
    height: 50px !important;
    width: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    transition: background-color 0.3s;
}

/* Style for today's date */
.react-calendar__tile--now {
    color: black !important;
    /* Set the text color for today */
    background-color: rgb(253, 192, 127);
    /* Background color for today */
}



/* Year-switching Buttons Style */
.react-calendar__navigation button {
    border-radius: 50% !important;
    /* Make buttons circular */
    width: 50px;
    /* Adjust for smaller buttons */
    height: 50px;
    /* Adjust for smaller buttons */
    background: transparent;
    /* Make background transparent */
    border: none;
    /* Remove any default border */
    display: flex;
    /* Center content */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    transition: background-color 0.3s;
    /* Smooth transition for hover effects */
}

/* Optional: Add hover effect for navigation buttons */
.react-calendar__navigation button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Light gray on hover */
}