@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-medium {
    color: #14161C;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.3px;
}

.inter-regular {
    color: #202127;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.3px;
}

.inter-for-icons {
    color: #202127;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.3px;
}

.inter-global {
    font-family: "Inter", sans-serif;

}


.inter-for-carousel-text {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.3px;
}





@layer utilities {
    .carouselArrow {
        @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-all duration-300
    }

    .carouselTransition {
        @apply transition-transform duration-500
    }

    .themedBtn {
        @apply bg-myRed text-white w-36 py-4 pl-2 flex text-[12px] font-extrabold rounded-lg
    }

    .centerAll {
        @apply flex flex-col justify-center items-center
    }

    .check {
        @apply border-2 border-red-700
    }

    .selectedPageBg {
        @apply bg-red-200 rounded-lg p-1
    }

    .inputField {
        @apply text-base block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none
    }



    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}